# Email Configuration
EMAIL_HOST=smtppro.zoho.in
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=hradmin@emyrishr.in
EMAIL_PASS=your-zoho-app-password
EMAIL_FROM="Emyris HR <hradmin@emyrishr.in>"

PORT=3000
ADMIN_USER=EMYRIS@BIOLIFE
ADMIN_PASS=Omrutam@1306
BASE_URL=https://emyrishr.in
DATABASE_URL=postgres://postgres:password@your-hostycare-vps-ip:5432/postgres
EMAIL_BRIDGE_URL=https://script.google.com/macros/s/your-google-script/exec
